@import url('https://fonts.googleapis.com/css?family=Arvo|Hind|Inconsolata');

*, 
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid green;
}

.board {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  transform-style: preserve-3d;
  // border-radius: 50%;
  border: 3px solid green;
}

$n: 5;
$d: 40px;
$ax: 40deg;
$ba: 360deg / $n;

.player {
	position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
	margin: calc(50vmin - #{.5 * $d}) 0 0 calc(50vmin - #{.5 * $d});
	width: $d;
  height: $d;
	transform: rotate(var(--a, 0deg)) translate(3.5 * $d);
  border: 1px solid black;
  border-radius: 50%;
	
	@for $i from 1 to $n {
    &:nth-child(#{$i + 1}) {
      --a: $i * $ba
    }
  }
}

.stack {
  display: flex;
}

.card {
  font-family: 'Hind', sans-serif;
  // font-family: 'Inconsolata', monospace;
  // font-family: 'Arvo', serif;
  border: 1px solid black;
  width: 80px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.card__rank {
  font-size: 1.5em;
  margin: 6px 10px;
  /*border: 1px solid yellow;*/
}

.card__rank:first-child {
  align-self: flex-start;
}

.card__rank:last-child {
  align-self: flex-end;
}

.card__suit {
  font-size: 1.5em;
}